@font-face {
  font-family: 'Vazir';
  src: url('fonts/Vazir.woff2') format('woff2'),
       url('fonts/Vazir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Vazir', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #fdfcfa, #f0f0f0);
  color: #333;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* استایل برای صفحه‌نمایش‌های کوچکتر از 768px (مثلاً گوشی‌های موبایل) */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
}

/* استایل برای صفحه‌نمایش‌های کوچکتر از 480px (گوشی‌های خیلی کوچک) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}
